
@{
    Layout = "~/Views/Student/StudentLayout.cshtml";
}


<link href="~/Content/AdministratorHomeStyle.css" rel="stylesheet" />

<h2>Information About - @Model.FirstName @Model.LastName</h2>

<div class="adminInformation-content">
    <table>
        <tr class="headers">
            <td>User Name</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Password</td>
            <td>Address</td>
        </tr>
        <tr>
            <td>@Model.UserName</td>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>
            <td> @Model.Password</td>
            <td>@Model.Address</td>
        </tr>

    </table>

</div>
