@model LabProject.Models.VManageLecturers

@using LabProject.Models
@{

    ViewBag.Title = "manageLecturersView";
    Layout = "~/Views/Administrator/AdministratorLayout.cshtml";
}


<link href="~/Content/AdministratorManageLecturers.css" rel="stylesheet" />
<script type="text/javascript">

    $(document).ready(() => {
        $('#add-btn').click(() => {
            console.log('add');
            $('#add-update-value').val('add');
        });
    });

    $(document).ready(() => {
        $('#update-btn').click(() => {
            console.log('update');
            $('#add-update-value').val('update');
        });
    });


</script>

<h2 id="addcoursetolecturer"><u>Add course to lecturer/Update course</u></h2>


@using (Html.BeginForm("AddCourseToLecturer", "Administrator", FormMethod.Post, new { @class = "ManageLecturers-content" }))
{
    <div class="inputs">

        @Html.DropDownListFor(m => m.CourseToAdd.LecturerName, Model.GetLecturerList, "Select lecturer name")

        @Html.DropDownListFor(m => m.CourseToAdd.CourseName, Model.GetCoursesNames, "Select course name")

        @Html.DropDownListFor(m => m.CourseToAdd.Day, Model.GetCoursesDays, "Select course day")

        @Html.DropDownListFor(m => m.CourseToAdd.Hour, Model.GetCoursesHours, "Select course start hour")

    </div>

    <div class="update">
        @Html.DropDownListFor(m => m.LecturerUpdate.Day, Model.GetCoursesDays, "Update course day")

        @Html.DropDownListFor(m => m.LecturerUpdate.Hour, Model.GetCoursesHours, "Update course start hour")
    </div>

    <ul class="validation-messages">
        <li> @TempData["v1"]</li>
        <li> @TempData["v2"]</li>
        <li>@TempData["message"]</li>
        <li> @TempData["v3"]</li>
        <li> @TempData["v4"]</li>
        <li><strong style="color:red">@TempData["v5"]</strong></li>
    </ul>

    <input type="hidden" name="AddUpdateValue" id="add-update-value" />
    <input type="submit" id="update-btn" value="update" />
    <input type="submit" id="add-btn" value="add" />
}

@*

    @using (Html.BeginForm("AddUpdateLecturer", "Administrator", FormMethod.Post, new { @class = "add_update-content" }))
    {
        <div class="inputs">

            <i>user name:</i>
            @Html.TextBoxFor(m => m.User.UserName)
            <i>password:</i>
            @Html.TextBoxFor(m => m.User.Password)
            <i>first name:</i>
            @Html.TextBoxFor(m => m.User.FirstName)
            <i>last name:</i>
            @Html.TextBoxFor(m => m.User.LastName)
            <i>address:</i>
            @Html.TextBoxFor(m => m.User.Address)
            <i>salary:</i>
            @Html.TextBoxFor(m => m.Lecturer.Salary)

            <ul>
                <li> @Html.ValidationMessageFor(x => x.User.UserName)</li>
                <li> @Html.ValidationMessageFor(x => x.User.Password)</li>
                <li>@Html.ValidationMessageFor(x => x.User.LastName)</li>
                <li> @Html.ValidationMessageFor(x => x.User.Address)</li>
                <li> @Html.ValidationMessageFor(x => x.Lecturer.Salary)</li>
            </ul>
            <h2>@TempData["meesage"]</h2>

        </div>
        <input type="hidden" name="AddUpdateValue" id="add-update-value" />
        <input type="submit" id="update-btn" value="update" />
        <input type="submit" id="add-btn" value="add" />

    }


*@

